[Unit]
Description=OpenPOWER Dump Manager
After=obmc-host-start-pre@0.target
Before=start_host@0.service
Wants=xyz.openbmc_project.Dump.Manager.service
After=xyz.openbmc_project.Dump.Manager.service
Before=mapper-wait@-org-open_power-dump-manager.service
Conflicts=obmc-host-stop@0.target

[Service]
Environment="PDBG_DTB=/var/lib/phosphor-software-manager/pnor/rw/DEVTREE"
ExecStart=/usr/bin/openpower-dump-manager
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=obmc-host-startmin@0.target
